/** @type {import('tailwindcss').Config} */
module.exports = {
  // content tells Tailwind WHERE to look for class names
  // If this is wrong, Tailwind won't generate any CSS at all
  content: [
    './pages/**/*.{js,ts,jsx,tsx,mdx}',
    './components/**/*.{js,ts,jsx,tsx,mdx}',
    './app/**/*.{js,ts,jsx,tsx,mdx}',
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}